/* Styles for the form and its labels and inputs */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-right: 1rem;
}

input,
select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

/* Styles for the list of items */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

/* Styles for the link in each list item */
a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 0.5rem;
  background-color: #FFCB05;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

a:hover {
  background-color: #FEA92C;
}

/* Additional Pokemon-themed colors */
input:focus,
select:focus {
  outline: none;
  border-color: #F85888;
}

button {
  background-color: #F85888;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #FF6B9A;
}

h1 {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 0.5rem;
  background-color: #FFCB05;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}